body {
    font-size: larger;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button {
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

header {
    display: flex;
    height: 5rem;
    box-shadow: 0 2px;
}

header h1 {
    padding-left: 30px;
    margin-top: 1rem;
}

#tabsContainer {
    display: flex;
    margin-left: auto; 
    margin-right: 0;
}

#tabsContainer div, #tabsContainer a {
    padding: 30px;
    text-decoration: none;
    color: black;
}

#tabsContainer div:hover, #tabsContainer a:hover {
    cursor: pointer;
}

#darken {
    background-color: #0000007a;
    width: 1000vw;
    height: 1000vh;
    position: fixed;
    margin: -90vh;
}

.menuPanel {
    border-radius: 20px;
    padding: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 50vh;
    position: fixed;
}

.closeButton {
    position: fixed;
    right: 3rem;
}

#helpButton {
    border-radius: 20px; 
    right: 10px;
    bottom: 10px;
    position: fixed;
}

#viewContainer {
    padding: 5px;
    align-items: baseline;
    float: right;
}

#viewContainer > div {
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}

#singleViewContainer > h2 {
    text-align: center;
}

#singleContainer, #listsContainer {
    display: flex;
    height: 80vh;
    width: 90vw;
    justify-content: center;
    margin: auto;
}

#leftSideContainers {
    margin-right: 10px;
    width: 20vh;
}

#listsLegendContainer, #categoriesLegendContainer {
    height: 25vh;
    width: 17.5vh;
    margin-bottom: 50px;
    padding: 1vh;
}

#listsLegend > div, #categoriesLegend > div {
    padding: 10px;
}

#listsLegend > div:hover, #categoriesLegend > div:hover, #listSelect > div:hover, #listEditSelect > div:hover, #categorySelect > div:hover, #categoryEditSelect > div:hover, #groupSelect > div:hover, #groupEditSelect > div:hover, #notesGroupsContainer > div:hover, #notesGroupsContainer > div > div:hover {
    cursor: pointer;
}

#tasksContainer {
    text-align: center;
    width: 35vw;
}

#taskContainer {
    padding: 1vw;
    height: 72.5vh;
    overflow-y: auto;
}

.task {
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
    color: #9c9c9c;
}

#quickAddTaskContainer {
    position: absolute;
    width: 30vw;
    margin-left: 2.5vw;
    padding-top: 1vh;
    bottom: 5vh;
}

.multiTaskContainer {
    position: relative;
    width: 475px;
    overflow-y: auto;
    margin-left: 12.5px;
    height: 57.5vh;
}

.quickAddTaskContainer {
    display: flex;
    position: relative;
    width: 500px;
    padding-top: 1vh;
    justify-content: center;
}

#rightSideContainers {
    width: 20vh;
}

#rightSideContainers > label {
    display: flex;
    margin: 0 0 50px 10px;
    width: 10vh;
    flex-wrap: wrap;
    height: 5vh;
    padding: 1vh;
}

#rightSideContainers > button {
    position: absolute;
    bottom: 3.25vh;
    margin-left: 10px;
    padding: 10px;
}

#listsContainer {
    margin-top: 7.5vh;
    margin-left: 5vw;
    overflow-x: auto;
    align-items: center;
    display: -webkit-inline-box;
}

.multiListContainer:first-child {
    margin-left: 2.5vw;
}

.multiListContainer:last-child {
    margin-right: 2.5vw;
}

.multiListContainer {
    width: 500px;
    height: 70vh;
    margin: 2.5vh;
}

.multiListContainer > h2 {
    margin: 1.5rem;
}

#notesContainer {
    display: flex;
}

#notesGroupsContainer {
    width: 40vw;
    padding: 2.5rem;
    height: 75vh;
}

#notesDisplay {
    width: 40vw;
    height: 65vh;
    border-radius: 20px;
    margin-left: 5rem;
    padding: 2.5rem;
    position: absolute;
    right: 20px;
    white-space: pre-line;
}

#notesContent, #notesEditContent {
    resize: none;
    width: 30vw;
    height: 25vh;
    white-space: pre-wrap;
}

.groupContainer {
    margin: 1rem;
}

.noteInGroup {
    margin: 2rem;
}

#editNoteButton {
    position: absolute;
    right: 20px;
    bottom: 10vh;
}

#themeSelectCont {
    text-align: center;
    position: relative;
    display: flex;
    height: 5vh;
    justify-content: center;
    margin-top: 1vh;
}

#themeName {
    font-size: 2rem;
    margin-top: 1vh;
    width: 35vw;
    font-weight: bold;
}

#colorPreviews {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    left: -1vw;
}

.colorPreview {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 5px;
}

